[Desktop Entry]
Version=1.0
Name=Logisim
Comment=Logisim for circuits
Exec=/bin/logisim
Icon=~/linux-options/terminal/logisim/logisim-icon.png
Terminal=false
Type=Application
Categories=Utility;
